@charset "UTF-8";

html{
   font-family: sans-serif;
   margin: 0;
}

h1,h2,h3,h4,h5,h6{font-family: 'Oxygen', sans-serif;}

.clearfix::after, .row:after{
    content: " ";
    display: block;
    clear: both;
}

.platform-section{
    margin-top: 2rem;
    margin-left: 2rem;
}

.art-style{
    max-width: 220px;
}

.pub-section{
    background-color: rgb(211, 204, 204);
}

.section-about{
    display: inline-block;
    margin-top: 3rem;
}

.icon-editorial{
    display: inline-block;
    margin: 5px;
}

.maxwidth{
    max-width: 1024px;
    margin-left: auto;
}

.top-header{
    text-align: center;
}

.top-header-logo{
    width: 150px;
    max-height: 150px;
    margin: .5em;
}


.nav-header{
    background-color: #612674;
    text-align: center;
}

.nav-header ul{
    margin: 0;
    padding: 1em 0;
    list-style: none;
}

.nav-header a{
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
}

.btn-add{
    margin-left: 5rem
}

.nav-header a:hover{
    background-color: #7c3792;
}

.content-h1{
    color: #612674;
    font-size: 22px;
    margin:1.37em;
}

.content-h2{
    color: #a87bb7;
    font-size: 16px;
}

.button{
    display: inline-block;
    padding: .9em 2.5em;
    background-color: rgb(56, 197, 178);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    
}

.div-carousel{
    float: left;
    margin-left: 0;
}
.div-carousel-description{
    float: right;
    padding-right: 2rem;
}

.carousel-iframe{
    height: 300px;
}

.button:hover{
    background-color: #37a0a0;
}

.middle-content{
    padding: 0;
    margin:2.5rem;
    background-color: #f6f6f6;
    text-align: center;
}

.middle-content span[class^=icon]{
    font-size: 3.5em;
    color: #612674;
}

.middle-content button{
    background-color: red;
    margin-right: 0;
}

.main-content-tittle{
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;

}

.main-content-p{
    color: #222;
    line-height: 1.5;
}

footer{
    background-color:#25303e;
    color: #83969f;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
}

footer ul{
    clear: both;
    text-decoration: none;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: .5em;
}

footer li{
    display: inline-block;
    margin: 0 1em;
}

footer a{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}
.select-content{
    display: block;
    margin-left: 2rem;
}


@media screen and (min-width:780px){

    .select-content{
        display: inline-block;
        margin-right: 1rem;
    }
    
    .top-header-logo{
        float: left;
    }
    .nav-header{
        float: right;
        background-color: transparent;
        margin-top: 26px;
    }

    .nav-header ul{
        margin: 0;
        padding: 0;
    }

    .nav-header li{
        display: inline-block;
    }

    .nav-header a{
        color: #713a84;
    }

    .nav-header a:hover{
        background-color: #e7d9fc;
    }

    .content-h1, .content-h2{
        color: white;
    }

}


@media screen and (min-width:980px ){

    .second-section article{
        display: block;
    }
}